version: "3.8"
services:
  mongodb:
    image: mongo:latest
    container_name: soat-cart-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    container_name: soat-cart-gui
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
    depends_on:
      - mongodb

volumes:
  mongo-data:
